 
/* Arxiu CSS de la pàgina web amb errors */

h2 {
    font-size: 22px;
}


h1 {
    color: red;
}


.li {
    font-weight: bold;
}


body {
    background-color: grey;
}


.para {
    font-size: 14px;
}

footer {
    text-align: center;
    color: green;
}


nav a {
    color: blue;
}


header {
    border-radius: 10px;
    background: (to right, pink, blue);
}


body {
    padding: 20px;
    margin: 0;
}
