 
/* Arxiu CSS de la pàgina web amb errors */

h2 {
    font-size: 22px;
}


h1 {
    color: red;
}


.li {
    font-weight: bold;
}


body {
    background-color: grey;
}


.para {
    font-size: 14px;
}

footer {
    text-align: center;
    color: green;
}

/* Error 8: Usar color de text incorrectament */
nav a {
    color: blue;
    text-decoration: none;
}

/* Error 9: Utilitzar una propietat que no existeix */
header {
    border-radius: 10px;
    background: linear-gradient(pink)
}

/* Error 10: No afegir un padding o marge al cos */
body {
    padding: 20px;
}
